html {
    background-image: url('./websiteBackground.jpg');
    background-size: cover;
}

body {
    background-image: url('./websiteBackground.jpg');
    background-size: cover;
}

#ordiChoice {
    position: absolute;
    right: 325px;
    top: 253px;
}

.robot {
    position: absolute;
    right: 280px;
    top: 178px;
}

.name {
    position: absolute;
    left: 200px;
    top: 180px;
}

#userChoiceText {
    position: absolute;
    top: 250pX;
    left: 200pX;
}

.gohome {
    position: absolute;
    top: 600px;
}

.reset {
    position: absolute;
    top: 570px;
}

.winner {
    text-align: top;
    top: 10px;
}